*Copyright 2024 Jaeyoung Chun*

You may not make copies of this and use or distribute it for any purpose.

# Heat Map

In [1]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Load Data

In [2]:
df = pd.read_csv("./data/events_pass_simple.csv")

In [3]:
df

      period         team  type  x_start  y_start  x_end  y_end
0          1  South Korea  Pass     60.0     40.0   39.9   29.0
1          1  South Korea  Pass     39.7     30.0   31.9   16.7
2          1  South Korea  Pass     37.4      8.9   49.8    3.6
3          1  South Korea  Pass     42.1      3.4   31.5    3.6
4          1  South Korea  Pass     30.6      4.1   57.7   11.7
...      ...          ...   ...      ...      ...    ...    ...
1002       2  South Korea  Pass     94.3     76.4   89.5   78.9
1003       2  South Korea  Pass     88.1     78.2   79.6   76.2
1004       2  South Korea  Pass     79.3     75.4   81.9   72.3
1005       2     Portugal  Pass     38.2      7.8   68.1   12.9
1006       2     Portugal  Pass     58.9      0.1   44.7   13.9

[1007 rows x 7 columns]

## Filter

### Second Half Only

In [4]:
df = df[ df.period == 2 ]

### South Korea

In [5]:
df_korea = df[ df.team == "South Korea" ]

### Portugal

In [6]:
df_portugal = df[ df.team == "Portugal" ]

## Heat Map

In [7]:
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format='retina'
from mplsoccer import Pitch, VerticalPitch

In [8]:
custom_cmap = matplotlib.colors.LinearSegmentedColormap.from_list("custom_cmap", ["red", "black"])

<img src="./img/heatmap3.png" width="480" />

In [1]:
# ---------------------------
# Write your code below
# ---------------------------